$main: rgb(34, 116, 165)
$secondary: rgb(120, 227, 253)
$accent: rgb(214, 40, 57)
$black: rgb(37, 35, 35)

$white: rgb(255, 255, 255)

//Text colors

$text-main: $secondary
$text-inverse: $white
$text-accent: $accent
$text-secondary: $main
